
.idea/modules.xml

.idea/addin-ecosystem.iml

.idea/encodings.xml

.idea/.name

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/jsLibraryMappings.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
